# Python virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Logs
logs/

# Ultron process state
ultron.disabled

# Audio test files
*.wav

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
